files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # 기록할 디렉토리가 없는 경우 생성
            mkdir -p /var/pids

            # PID 기록
            echo $$ > /var/pids/springapp.pid

            # 애플리케이션 실행
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH
