files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash

            # PID 파일 디렉토리 설정
            PID_DIR=/var/pids
            PID_FILE=$PID_DIR/springapp.pid

            # PID 기록할 디렉토리가 없는 경우 생성 및 권한 설정
            mkdir -p $PID_DIR
            chown webapp:webapp $PID_DIR
            chmod 755 $PID_DIR

            # 애플리케이션 JAR 경로 설정
            JAR_PATH=/var/app/current/application.jar

            # 애플리케이션 실행을 백그라운드에서 수행하고 PID 파일에 기록
            nohup java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH & echo $! > $PID_FILE

option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: "prod"
  aws:elasticbeanstalk:container:java:environment:
    PID_FILE: "/var/pids/springapp.pid"
  aws:elasticbeanstalk:container:java:application:
    command: "java -Dspring.profiles.active=${SPRING_PROFILES_ACTIVE} -Dfile.encoding=UTF-8 -jar /var/app/current/application.jar"
    pidfile: "/var/pids/springapp.pid"
