files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            CLIENT_JAR_PATH=/var/app/current/client-application.jar
            ADMIN_JAR_PATH=/var/app/current/admin-application.jar

            # run client app
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $CLIENT_JAR_PATH &

            # run admin app
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $ADMIN_JAR_PATH &

            # wait for background processes to finish
            wait
